<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <div class="container" style="max-width: 40rem;" >
            <form th:action="@{/usuario/(form)}" th:object="${usuario}" method="POST" >
                <input type="hidden" th:field="*{id}">
                <div class="form-floating m-3">
                    <input class="form-control" type="text" id="txtnome" th:field="*{nome}" placeholder="Nome do Usuário" 
                        pattern="(^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ 0-9]+$)" name="nome" required>
                    <label for="txtnome" >Nome</label>
                           
                </div>
                <!-- <div class="form-floating m-3">
                    <input class="form-control" type="text" id="txtsobrenome" th:field="*{sobrenome}" placeholder="Sobrenome do Usuário"
                    pattern="(^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ 0-9]+$)" name="sobrenome" required>
                    <label for="txtsobrenome">Sobrenome</label>
                </div> -->
                <div class="form-floating m-3">
                    <input class="form-control" type="date" id="txtdataNascimento" th:field="*{dataNascimento}" name="dataNascimento" required>
                    <label for="txtdataNascimento"></label>    
                </div>
                <div class="form-floating m-3">
                    <input class="form-control" type="email" id="txtemail" th:field="*{email}" 
                    placeholder="Email"name="email" required>
                    <label for="txtemail">Email</label>
                </div>

                <div class="form-floating m-3">
                    <input class="form-control" type="password" id="txtsenha" th:field="*{senha}" placeholder="Senha" 
                        pattern="(^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ 0-9]+$)" name="senha" required>
                    <label for="txtsenha" >Senha</label>
                           
                </div>
                <div class="form-floating m-3">
                    <input type="submit" value="Enviar" class="form-control p-2" 
                        style="font-weight: bold; font-size: 25px ; 
                        max-width: 20rem; margin: auto; ">
                </div>

            </form>

        </div>

        <div th:include="layout :: footer">(footer)</div>
        
    </body>
</html>