<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <div class="container">
           <a th:href="@{/usuario/novo}" class="btn btn-primary">Novo</a>
            <table class="table" id="usuarios">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Data de Nascimento</th>
                        <th>E-mail</th>
                        <th>Data de Criação</th>
                        <th> </th>
                    </tr>
                </thead>
                <thead>
                    <tr th:each="umUsuario : ${listaUsuarios}">
                        <td th:text="${umUsuario.id}"></td>
                        <td th:text="${umUsuario.nome}"></td>
                        <td th:text="${umUsuario.sobrenome}"></td>
                        <td th:text="${umUsuario.dataNascimento}"></td>
                        <td th:text="${umUsuario.email}"></td>
                        <td th:text="${umUsuario.dataCriacao}"></td>
                        <td><a th:href=
                            "@{'/usuario/alterar/' + ${umUsuario.id}}"
                            class="btn btn-primary"> Alterar</a>
                            <button class="btn btn-danger js-delete"
                            th:data-id="${umUsuario.id}">Excluir
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>

                </tbody>

            </table>


        </div>

        <div th:include="layout :: footer">(footer)</div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#usuarios").on('click', ".js-delete", function(){
                    let button = $(this);
                    bootbox.confirm("Confirma a exclusão do registro?",
                    function(result){
                        if(result){
                            $.ajax({
                                url: '/usuario/delete/' + button.attr("data-id"),
                                method: "GET", 
                                success: function(){
                                    window.location.href = "/usuario/";
                                }
                            })
                        }
                    });
                });
            });

        </script>
        
    </body>
</html>