<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <div class="container">
           <a th:href="@{/usuario/novo}" class="btn btn-primary">Nova Obra</a>
            <table class="table" id="obra">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Obra</th>
                        <th>SubTitulo</th>
                        <th>Ano de Publicação</th>
                        <th>autor</th>
                        <th>Quantidade de páginas</th>
                        <th>Sinopse</th>
                        <th>Pais de Origem</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <thead>
                    <tr th:each="umaObra : ${listaObras}">
                        <td th:text="${umaObra.idObra}"></td>
                        <td th:text="${umaObra.obra}"></td>
                        <td th:text="${umaObra.subTitulo}"></td>
                        <td th:text="${umaObra.anoPublicacao}"></td>
                        <td th:text="${umaObra.autor}"></td>
                        <td th:text="${umaObra.sinopseObra}"></td>
                        <td th:text="${umaObra.paisOrigemObra}"></td>
                        <td th:text="${umaObra.tipo}"></td>
                        <td><a th:href=
                            "@{'/usuario/alterar/' + ${umaObra.idObra}}"
                            class="btn btn-primary"> Alterar</a>
                            <button class="btn btn-danger js-delete"
                            th:data-id="${umaObra.idObra}">Excluir
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>

                </tbody>

            </table>


        </div>

        <div th:include="layout :: footer">(footer)</div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#usuarios").on('click', ".js-delete", function(){
                    let button = $(this);
                    bootbox.confirm("Confirma a exclusão do registro?",
                    function(result){
                        if(result){
                            $.ajax({
                                url: '/usuario/delete/' + button.attr("data-id"),
                                method: "GET", 
                                success: function(){
                                    window.location.href = "/usuario/";
                                }
                            })
                        }
                    });
                });
            });

        </script>
        
    </body>
</html>