
body{
    background-color: #ebebeb;
    color: black;
}
.ABC{
    font-size: 2vw;
    display: flex;
    align-content: space-between;
}
/* .navbar-nav{
    font-size: 2vw;
    display: flex;
    align-content: space-between;
} */